@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
* { box-sizing: border-box; color: #212121; font-family: 'Nanum Gothic', sans-serif; }
body { padding: 0; margin: 0; }
html { font-size: 13px; }
a { text-decoration: none; }
ul { list-style: none; padding: 0; margin: 0; }

/*  메인 메뉴 - /menus/main.php  S */
.main_menu { background-color: #d5d5d5; }
.main_menu:after { clear: left; content: ''; display: block; }
.main_menu li { float: left; }
.main_menu li a { display: block; padding: 20px; font-weight: bold; font-size: 15px; }
.main_menu li a:hover, .main_menu li a.on { background-color: orange; }

/*  메인 메뉴 - /menus/main.php  E */

/* 서브 메뉴 S */
.sub_menu:after { clear: left; content: ''; display: block; }
.sub_menu li { float: left; }
.sub_menu li a { display: block; padding: 15px 20px; }
/* 서브 메뉴 E */